<footer>
	
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="wow fadeInDown" data-wow-delay="0.1s">
                <div class="widget">
                    <h5>About Healtho Tracker</h5>
                    <p>
                    It is a best place to get the treatment.
                    </p>
                </div>
                </div>
                
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="wow fadeInDown" data-wow-delay="0.1s">
                <div class="widget">
                    <h5>Healtho Tracker center</h5>
                    <p>
                    This is present in many cities across the globe 
                    </p>
                    <ul>
                        <li>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
                            </span> Monday - Sunday, 24 hour service
                        </li>
                        <li>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                            </span> +62 007 43 221
                        </li>
                        <li>
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                            </span> hello@healthotracker.com
                        </li>

                    </ul>
                </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="wow fadeInDown" data-wow-delay="0.1s">
                <div class="widget">
                    <h5>Our location</h5>
                    <p>Mumbai<br>Hyderabad<br>Chennai<br>Delhi<br>Bengaluru</p>		
                    
                </div>
                </div>
                
            </div>
        </div>	
    </div>
    <div class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="wow fadeInLeft" data-wow-delay="0.1s">
                <div class="text-left">
                <p>&copy;Copyright 2019 - Healtho Tracker. All rights reserved.</p>
                </div>
                </div>
            </div>
        </div>	
    </div>
    </div>
</footer>

</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

<!-- Core JavaScript Files -->
<script src="js/jquery.min.js"></script>	 
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.scrollTo.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/stellar.js"></script>
<script src="plugins/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/custom.js"></script>


</body>

</html>
